
<html>
<head>
    <style>
      body {
          text-align: center;
      }
      #title {
          text-align: center;
          background-color: goldenrod;
          font-style: italic;
          font-size: 20px;
          width: 100%;
          padding-top: 40px;
          height: 150px;
      }
      /*h1 {*/
      /*    width: 100%;*/
      /*    padding-top: 40px;*/
      /*    height: 80px;*/
      /*    background-color: gray;*/
      /*}*/
      p {
          color: blue;
      }
      #welcome {
          margin-bottom: 50px;
      }
      #login {
          color: red;
      }
      #signup {
          color: green;
      }
      #back {
          background-image: url("/images/money.jpeg");
          opacity: 0.9;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }
    </style>
</head>
<body>
  <div id="title">
    <h1> Gambling site</h1>
  </div>

  <div id="back">
    <div>
      <br>
      <br>
      <p id="welcome">Welcome to the gambling site</p>
      <p><a href="/login" id="login"><span>login</span></a> to gamble game</p>
      <p><a href="/signup" id="signup"><span>signup</span></a> to create account</p>
    </div>
  </div>
</body>
</html>