
<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="title">
    <h1> Gambling site</h1>
  </div>

  <div class="back">
    <div class="welcomeText">
      <br>
      <br>
      <p id="welcome">Welcome to the gambling site</p>
      <p><a href="/login" id="login"><span>login</span></a> to gamble game</p>
      <p><a href="/signup" id="signup"><span>signup</span></a> to create account</p>
    </div>
  </div>
</body>
</html>