<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="title">
  <h1> Gambling site</h1>
  <p>
    <a href="/login" id="log"><span>login</span></a>
    <a href="/home" id="home"><span>home</span></a>
  </p>
</div>

<div class="back">
  <div>
    <br>
    <br>
    <form id="login" method="post" action="/check">
      <label>
        <b>User Name</b>
      </label>
      <input type="text" name="user" id="Uname" placeholder="Username">
      <br><br>
      <label>
        <b>Password&nbsp;&nbsp;</b>
      </label>
      <input type="Password" name="password" id="Pass" placeholder="Password">
      <br><br>
      <label>
        <b>Confirm&nbsp;&nbsp;&nbsp;&nbsp;</b>
      </label>
      <input type="Password" name="confirm" id="Pass" placeholder="Confirm Password">
      <br><br>
      &nbsp;<button class="btn">Sign Up</button>
  <!--    <p>Back to <a href="/home"><span> home </span></a></p>-->
  <!--    <p>Go to <a href="/login"><span> login </span></a></p>-->
      <% if params and params[:err] == "2"%>
        <p id="error">Password are not matched</p>
      <% end %>
      <% if params and params[:err] == "1"%>
        <p id="error">Cannot be length less than 3</p>
      <% end %>
      <% if params and params[:err] == "3"%>
        <p id="error">User exists</p>
      <% end %>
    </form>
  </div>
</div>
</body>
</html>